<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread][%X{NodeId}]%-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.mortbay.jetty.orchestrator.nodefs.InMemoryFile" level="error" />
  <logger name="org.mortbay.jetty.orchestrator.nodefs.PipingFile" level="error" />
  <logger name="org.zeroturnaround.process" level="error" />
  <logger name="net.schmizz.sshj" level="error" />
  <logger name="org.apache.zookeeper" level="error" />
  <logger name="org.apache.curator" level="error" />

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
